<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sachinshrestha.depttraining_sept12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MeroPahiloPaheeloApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MeroNayaActivity" />
        <activity android:name=".interest_calculator_package.InterestCalculator" />
        <activity android:name=".relative_layout_test.RelativeLayoutTest" />
        <activity android:name=".relative_layout_test1.MeroRelativeLayout" />
        <activity android:name=".anil_sir_ko_lagi_scrollview.CheckScrollView" />
        <activity android:name=".anil_sir_ko_lagi_scrollview.WelcomeScreen" />
        <activity android:name=".menu_listview_dialogbox_backpress_test.MenuNListViewTest" />
        <activity android:name=".mero_menu_listview.MeroMenu" />
        <activity android:name=".mero_menu_listview.AboutUs" />
        <activity android:name=".mero_listviewadapter_dialogbox_backpress_recyclerview.MeroListViewCustomAdapter" />
        <activity android:name=".recyclerview_test.RecyclerViewImplementationTest" />
        <activity android:name=".mero_listviewadapter_dialogbox_backpress_recyclerview.RecyclerViewnDialog" />
        <activity android:name=".database_sharedpreference_package_test.DatabaseSharedPrefImplementationTest"></activity>
        <activity android:name=".mero_database_sharedpref_package.MeroSharedPreferacneImplementation">
        </activity>
        <activity android:name=".mero_database_sharedpref_package.MeroDatabaseImplementation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>